* {
  box-sizing: border-box;
}
header {
  background: #2a2a40;
  height: 7em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: .25em;
  margin-left: .25em;
  margin-bottom: .25em;
  margin-right: .25em;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center
}
body {
  font-family: 'Merriweather', sans-serif;
  color: #384047;
}
.newsletter {
  padding-left: 1em;
  padding-right: 1em;
}
.newsletter h2 {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: .5em;
  padding-top: .5em;
}
.newsletter p {
  text-align: center;
  color: #d3d3d3;
  font-size: 14px;
  margin: 0 auto;
  padding-bottom: 2em;
}
.wrapper {
  text-align: left;
  padding-left: .25em;
}
.contact {
  font-weight: bolder;
  font-size: 18px;
  padding-top: .5em;
  padding-bottom: .5em;
}
fieldset {
  border: 0;
}
.style1 {
  border-top: 4px solid;
  width: 90%;
}
.style2 {
  border-top: 2px solid;
  width: 90%;
  margin-top: -6px;
}
.style3 {
  border-top: 2px solid;
  width: 90%
}

h1 {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
label {
  color: #a19d9d;
}

input[type="text"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin-top: 1em;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border-radius: 2px;
}
#name,
#email {
  text-align: right;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}
